#respass{
    background-color: #103040;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}
#sub{
    background-color:#8FABB7 ;
    color: #ffffff;
    margin-top: 30px;
}
.txt1{
    background-color: #E3E8EB;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    padding: 5px;
    width: 95%
}